@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--bg-color);
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.fix-height {
  min-height: calc(100vh - 150px);
}

.overflow-height {
  height: calc(100vh - 150px);
}

button:disabled {
  cursor: not-allowed;
}